{% extends 'base.html' %}
{% block title %}Covid-19 Symptoms Checker{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 mx-0">
        <form id="msform" action="/" method="post">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active" id="account"><strong></strong></li>
                <li id="personal"><strong></strong></li>
                <li id="payment"><strong></strong></li>
                <!--                                <li id="confirm"><strong></strong></li>-->
            </ul> <!-- fieldsets -->
            <fieldset>
                <div class="form-card">
                    <!--                                    <h2 class="fs-title">Account Information</h2>-->
                    <div class="form-group radio-row">




                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>What is your body temperature? (In Fahrenheit)</strong></label>
                            </div>

                            <div class="col-md-6">
                                <select id="fever1" name="fever" class="form-control">
                                    <option value="95">95</option>
                                    <option value="96">96</option>
                                    <option value="97">97</option>
                                    <option value="98" selected>98</option>
                                    <option value="99">99</option>
                                    <option value="100">100</option>
                                    <option value="101">101</option>
                                    <option value="102">102</option>
                                    <option value="103">103</option>
                                    <option value="104">104</option>
                                    <option value="105">105</option>
                                    <option value="106">106</option>
                                    <option value="107">107</option>
                                    <option value="108">108</option>
                                    <option value="109">109</option>
                                    <option value="110">110</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have tiredness?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="tiredness" type="radio" id="tiredness1"
                                           value="1">
                                    <label class="form-check-label" for="tiredness1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="tiredness" type="radio" id="tiredness0"
                                           value="0" checked>
                                    <label class="form-check-label" for="tiredness0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have dry-cough?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="dry_cough" type="radio" id="dry_cough1"
                                           value="1">
                                    <label class="form-check-label" for="dry_cough1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="dry_cough" type="radio" id="dry_cough0"
                                           value="0" checked>
                                    <label class="form-check-label" for="dry_cough0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have difficulty in
                                    breathing?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="difficulty_in_breathing" type="radio"
                                           id="difficulty_in_breathing1" value="1">
                                    <label class="form-check-label" for="difficulty_in_breathing1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="difficulty_in_breathing" type="radio"
                                           id="difficulty_in_breathing0" value="0" checked>
                                    <label class="form-check-label" for="difficulty_in_breathing0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" name="next" class="next action-button" value="Next Step"/>
            </fieldset>
            <fieldset>
                <div class="form-card">
                    <!--                                    <h2 class="fs-title">Personal Information</h2> -->

                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have sore throat?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="sore_throat" type="radio" id="sore_throat1"
                                           value="1">
                                    <label class="form-check-label" for="sore_throat1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="sore_throat" type="radio" id="sore_throat0"
                                           value="0" checked>
                                    <label class="form-check-label" for="sore_throat0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have body pain?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="pains" type="radio" id="pains1" value="1">
                                    <label class="form-check-label" for="pains1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="pains0" name="pains" value="0"
                                           checked>
                                    <label class="form-check-label" for="pains0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have nasal congestion?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="nasal_congestion" type="radio"
                                           id="nasal_congestion1" value="1">
                                    <label class="form-check-label" for="nasal_congestion1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="nasal_congestion0"
                                           name="nasal_congestion" value="0" checked>
                                    <label class="form-check-label" for="nasal_congestion0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have runny nose?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="runny_nose" type="radio" id="runny_nose1"
                                           value="1">
                                    <label class="form-check-label" for="runny_nose1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="runny_nose0" name="runny_nose"
                                           value="0" checked>
                                    <label class="form-check-label" for="runny_nose0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/> <input
                    type="button" name="next" class="next action-button" value="Next Step"/>
            </fieldset>
            <fieldset>
                <div class="form-card">
                    <!--                                    <h2 class="fs-title">Payment Information</h2>-->

                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Do you have diarrhoea?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="diarrhoea" type="radio" id="diarrhoea1"
                                           value="1">
                                    <label class="form-check-label" for="diarrhoea1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="diarrhoea0" name="diarrhoea"
                                           value="0" checked>
                                    <label class="form-check-label" for="diarrhoea0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>How old are you?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="age" id="age" class="form-control" style="border: 1px solid">
                            </div>
                        </div>
                    </div>
                    <div class="form-group radio-row">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-check-label"><strong>Recent contact with Covid-19 patient?</strong></label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="contact" type="radio" id="contact1" value="1">
                                    <label class="form-check-label" for="contact1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="contact0" name="contact" value="0"
                                           checked>
                                    <label class="form-check-label" for="contact0">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="submit" class="next action-button" value="Confirm"/>
            </fieldset>
        </form>
    </div>
</div>


{% endblock %}