<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="1000px" style=" margin-top: 20px">

    <tr>
        <td colspan="4" style="font-size: 30px; height: 70px; text-align: center;">Corona Prediction By Using
            Machine Learning Algorithm
        </td>

    </tr>
    <tr style="height: 100px; margin-bottom: 50px;">
        <td colspan="2" style="text-align: center; font-weight: bold">Name: {{data['name']}}</td>
        <td colspan="2" style="text-align: center; font-weight: bold">Age:{{data['age']}} &nbsp; &nbsp; &nbsp; &nbsp;
            Date: {{shahin_date}}
        </td>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center">Symptoms</th>
        <th colspan=""></th>
        <th style="text-align: left">Your Answer</th>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Body Temperature in Fahrenheit</td>
        <td>{{data['fever']}}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Tiredness</td>
        <td>{% if data['tiredness']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Dry-Caugh</td>
        <td>{% if data['dry_cough']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Breath Difficulty</td>
        <td>{% if data['difficulty_in_breathing']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Sore Throat</td>
        <td>{% if data['sore_throat']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Body Pain</td>
        <td>{% if data['pains']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Nasal Congestion?</td>
        <td>{% if data['nasal_congestion']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Runny Nose</td>
        <td>{% if data['runny_nose']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Diarrhoea</td>
        <td>{% if data['diarrhoea']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td style="width: 15%"></td>
        <td colspan="2" style="margin-left: 50px">Recent contact with Covid-19 patient?</td>
        <td>{% if data['contact']=='1' %}Yes {% else %} No {% endif %}</td>
    </tr>
    <tr>
        <td colspan="2" style="margin-left: 50px"></td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2" style="margin-left: 50px"></td>
        <td colspan="2"></td>
    </tr>
    <tr style="font-weight: bold">
        <td>&nbsp;</td>
        <td style="">Result</td>
        <td></td>
        <td style="text-align: left">{% if data['prediction']=='1' %}Positive {% else %} Negative {% endif %}</td>
    </tr>
</table>
</body>
</html>

