{% extends 'base.html' %}
{% block title %}Covid-19 Symptoms Checker{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 mx-0">
        <form id="msform">
            <fieldset>
                <div class="form-card">
                    <h2 class="fs-title text-center">Result !</h2> <br>
                    <div class="row justify-content-center">
                        <div class="col-9 text-center">


                            {% if prediction==1 %}

                            <img style="width: 80px" src="{{url_for('static',filename='images/sad.png')}}" alt="">
                            <br>
                            <br>
                            <h5><span class="text-danger">Covid-19 Positive.</span></h5>
                            <p class="text-muted">Don't panic. It's not the end of the world. Get medical help.</p>
                            {% else %}


                            <img style="width: 80px" src="{{url_for('static',filename='images/happy.png')}}" alt="">
                            <br>
                            <br>
                            <h5><span class="text-success">Covid-19 Negative.</span></h5>
                            <p class="text-muted">You are healthy. Stay Home, Stay Safe. </p>

                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <a href="{{ url_for('index') }}" class="next action-button" style="width: 140px"><i
                                class="fa fa-undo"></i> Check Again</a>
                        <button type="button" data-toggle="modal" data-target="#reportModal" class=" action-button"
                                style="width: 140px; background: #d81414"><i class="fa fa-print"></i> Print Report
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block modal %}
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" target="_blank" method="post" action="{{ url_for('generate_report') }}">
            <div class="modal-body">
                <div>
                    <input class="d-none" type="text" name="fever" value="{{data['fever']}}">
                    <input class="d-none" type="text" name="tiredness" value="{{data['tiredness']}}">
                    <input class="d-none" type="text" name="dry_cough" value="{{data['dry_cough']}}">
                    <input class="d-none" type="text" name="difficulty_in_breathing"
                           value="{{data['difficulty_in_breathing']}}">
                    <input class="d-none" type="text" name="sore_throat" value="{{data['sore_throat']}}">
                    <input class="d-none" type="text" name="pains" value="{{data['pains']}}">
                    <input class="d-none" type="text" name="nasal_congestion" value="{{data['nasal_congestion']}}">
                    <input class="d-none" type="text" name="runny_nose" value="{{data['runny_nose']}}">
                    <input class="d-none" type="text" name="diarrhoea" value="{{data['diarrhoea']}}">
                    <input class="d-none" type="text" name="age" value="{{data['age']}}">
                    <input class="d-none" type="text" name="contact" value="{{data['contact']}}">
                    <input class="d-none" type="text" name="prediction" value="{{prediction}}">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <p class="text-muted">**We will not store your data.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Print</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}